.login_anchorPane{
	-fx-background-color:#00aba9;
}

.logo_text{
	-fx-font-size:50px;
	-fx-font-weight:bold;
}

.logo_text .text{
	-fx-fill:#fff;
}

.username_label{
	
}

.login Label .text{
	-fx-fill:#fff;
	-fx-font-size:14px;
	-fx-font-weight:bold;
}

.login TextField{
	-fx-pref-width:236px;
	-fx-font-weight:bold;
}


/*
*	Button
*/
.button{
	-fx-background-color:#666;
	-fx-padding:5px 20px;
}
.button .text{
	-fx-fill:#e1e1e1;
	-fx-font-weight:bold;
}
.button:hover{
	-fx-background-color:#222;
	-fx-cursor:hand;
}
.button .text:hover{
	-fx-fill:#fff;
	-fx-font-weight:bold;
}
