.login_anchorPane{
	-fx-background-color:#00aba9;
}

.logo_text{
	-fx-font-size:50px;
	-fx-font-weight:bold;
}

.logo_text .text{
	-fx-fill:#fff;
}

.username_label{
	
}

.login Label .text{
	-fx-fill:#fff;
	-fx-font-size:14px;
	-fx-font-weight:bold;
}

.login TextField{
	-fx-pref-width:200px;
	-fx-font-weight:bold;
}


/*
*	Button
*/
.button{
	-fx-background-color:#fff;
	-fx-padding:5px 20px;
}
.button .text{
	-fx-fill:#222;
	-fx-font-weight:bold;
}
.button:hover{
	-fx-background-color:#00ABA9;
	-fx-cursor:hand;
}
.button:hover .text{
	-fx-fill:#fff;
	-fx-font-weight:bold;
}
.button:focused{
	-fx-background-color:#00ABA9;
}
.button:focused .text{
	-fx-fill:#fff;
	-fx-font-weight:bold;
}

.login_box{
	-fx-background-color:#00A2A1;
	-fx-padding:20px;
}




/*
*	Base styles
*/
.title_label{
	-fx-font-size:40px;
	-fx-font-weight:bold;
	-fx-text-fill:#fff;
}
#sidenav_pane TitledPane .title{
	-fx-padding:10px;
}
#sidenav_pane TitledPane .title:hover{
	-fx-background-color:#00aba9;
}

#sidenav_pane TitledPane .title:hover .text{
	-fx-fill:#fff;
}
#sidenav_pane TitledPane .title .text{
	-fx-fill:#e1e1e1;
	-fx-font-size:14px;
	-fx-font-weight:bold;
}


#sidenav_container TitledPane AnchorPane{
	-fx-background-color:#555;
}

#sidenav_pane .titled-pane:expanded .title{
	-fx-background-color:#00aba9;
}
#sidenav_pane .titled-pane:collapsed .title, #sidenav_pane, #sidenav_pane .viewport,.left_sidebar,#title_pane{
	-fx-background-color:#444;
}
#sidenav_pane .viewport .button{
	-fx-background-color:#555555;
	-fx-padding:10px;
}
#sidenav_pane .viewport .button:hover{
	-fx-background-color:#666;
}
#sidenav_pane .viewport .button .text{
	-fx-fill:#fff;
}

#main_container{
	-fx-background-color:#e1e1e1;
}

#field_container HBox{
	-fx-padding:5px;
}

